.filters {
  display: flex;
}

.item {
  padding: 6px 16px;
  margin-right: 8px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
}

.item:first-child {
  background-color: #1EA4CE;
  color: #fff;
}

.item:last-child {
  background-color: #F2F0FD;
  color: #1EA4CE;
}